body
{
    font-family: lucida grande ,tahoma,verdana,arial,sans-serif;
    background-image: url(../Images/23.jpg);
}

body p
{
    font-size: 1em;
    line-height: 1.28;
}

#wrapper
{
    width: 1160px;
    background-image: url(../Images/13.jpg);
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #dedede;
}

#banner
{
    background-image: url(../Images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #dedede;    
    height: 250px;
}

#content_area
{
    float: left;
    width: 1000px;
    margin: 20px 0 20px 0;
    padding: 10px;
}

footer
{
    clear: both;
    width: auto;
    height: 40px;
    padding: 10px;
    border: 3px solid #E3E3E3;
    text-align: centre;
    color: #fff;
    text-shadow: 0.1em 0.1em #333;
    background-image: url(../Images/bar_background.png);
}

#navigation
{
    height: 60px;
    border: 3px solid #E3E3E3;
    margin-top: 20px;
    text-shadow: 0.1em 0.1em #333;
    background-image: url(../Images/titlebar2.jpg);
}

#nav
{
    list-style: none;
}

#nav ul
{
    margin: 0;
    padding: 0;
    width: auto;
    display: none;
}

#nav li
{
    font-size: 24px;
    float: left;
    position: relative;
    width: 180px;
    height: 50px;
}

#nav a:link, nav a:active, nav a:visited
{
    display: block;
    color: #fff;
    text-decoration: none;
}

#nav a:hover
{
    color: lightblue;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

h1 {
    text-align: center;
}

.imgRight
{
    float: right;
    width: 200px;
    height: 2500px;
    margin: 0px 0 10px 10px;
    padding: 10px;
}

.niraj {
 width:360px;
 padding-left:60px;
 margin:0 0 10px 25px;
 font-size:12px;
 display:inline-block;
  }
  
.n1 {
float: centre;
display:inline-block;
padding: 50px;

}

.n2 {
float: centre;
display:inline-block;
padding: 50px;

}

